<form>
    <label for="scale_segmented_button">Scale by: </label>

    <ul id="scale_segmented_button" class="segmented-button">
      <li id="value_button" class="selected">Value</li><!-- Horrible HTML hack
      --><li id="qty_button">Quantity</li>
    </ul>​

    <select id="select_tag_button">
	  <option value="clothing">Clothing</option>
	  <option value="artwork">Artwork</option>
	</select>
</form>

<script type="text/javascript">

$(document).ready(function() {
    
    geocraft.home.init();
    geocraft.home.render();

    $(".segmented-button").click(function(event) {
        $("li", this).removeClass("selected");
        $(event.target).addClass("selected");
    });

    $('#qty_button').click(function() {
        geocraft.home.arcWidth("qty", 0.5);
    });
    
    $('#value_button').click(function() {
        geocraft.home.arcWidth("value", 0.1);
    });
    
    $('#select_tag_button').click(function() {
    	var tag = $(this).find('option:selected').val();

        geocraft.home.selectTag(tag);
    });
    
});

</script>
