<form>
    <div class="arc-width-buttons">
        <button id="arc_qty_button" type="button">Quantity of Transactions</button>
        <button id="arc_value_button" type="button">Value of Transactions</button>
    </div>
    
    <select id="tag_name">
	  <option value="clothing">Clothing</option>
	  <option value="artwork">Artwork</option>
	</select>

</form>

<script type="text/javascript">

$(document).ready(function () {

    geocraft.home.init();
    geocraft.home.render();
    $('#tag_name').change(function(){
    	var tag_name = $(this).find('option:selected').val()  
    })
    /*
    $('#arc_qty_button').click(
        geocraft.home.arcAttribute("stroke-width", function(d) {
            return d.qty / 5.0;
        })
    );
    
    $('#arc_value_button').click(
        geocraft.home.arcAttribute("stroke-width", function(d) {
            return d.value / 20.0;
        })
    );
    */

</script>
