<form>
    <div class="arc-width-buttons">
        <button type="button">Quantity of Transactions</button>
        <button type="button">Value of Transactions</button>
    </div>
    
    <select>
  <option value="clothing">Clothing</option>
  <option value="artwork">Artwork</option>
</select>

</form>



<script type="text/javascript">

$(document).ready(function() {
    geocraft.home()
});

</script>
