<%= form_for(@sales_aggregate) do |f| %>
  <% if @sales_aggregate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_aggregate.errors.count, "error") %> prohibited this sales_aggregate from being saved:</h2>

      <ul>
      <% @sales_aggregate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
