#logo {
  position:relative;
  left:280px;
}

#main {
  font-family: 'Anaheim', sans-serif;
  position:relative;
  margin-top:0px;
  margin:0 auto 0;
  padding:0;
  width:800px;  
}

#content_container {
  position:relative;
  margin:0;
  padding:0;
  width:100%;
  height:300px;
}

#content {
  position:absolute;
  right:200px;
  top:50px;
}

#select_tag_button {
  position:absolute;
  left:160px;
  top:80px;
}

#sellers_table {
  position:absolute;
  left:85px;
  top:120px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  background-color:#E6E6E6;
}

#sellers_table td {
  text-align:center;
}

#states path {
  fill: #ddd;
  stroke: #000;
  stroke-width: 1.0px;
  stroke-opacity: 0.4;
}

#counties path {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;
  stroke-opacity: 0.1;
}

#arcs path {
  stroke: none;
  fill: black;
}

.labeled-segmented-button {
  width: 20.0em;
}
