#states path {
  fill: #ddd;
  stroke: #000;
  stroke-width: 1.0px;
  stroke-opacity: 0.4;
}

#counties path {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;
  stroke-opacity: 0.1;
}

#arcs path {
  stroke: none;
  fill: black;
}
